@media all and (max-width: 1439px) {
    .imageDesktop {
        display: none;
    }

    .imageMobile {
        position: absolute;
        height: 235px;
        width: 375px;
        top: 50%;
        left: 50%;
        margin-top: -280px;
        margin-left: -187.5px;
    }
}

@media all and (min-width: 1440px) {
    .imageDesktop {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -400px;
        margin-left: 110px;
    }

    .imageMobile {
        display: none;
    }
}